{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post_info">
        <h2 class="post_title">{{ post.title }}</h2>
        <p class="post_category">Категория {{ post.get_category_display }}</p>
        <p class="post_author">Автор: {{ post.author.user.first_name|default:post.author.user.username }} {{ post.changed|date:"d m Y" }}</p>
        <p class="post_content"> {{ post.content|safe|linebreaks}}</p>
        <p>{{ post.image.url }}</p>
    </div>
    {% if request.user.is_authenticated %}
        {% if post.author.user.username != request.user.username %}
            <div class="comment_create">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.content }}
                    <input type="submit" value="Отправить">
                </form>
            </div>
        {% endif %}
    {% else %}
        <div class="comment_create">
            <h3>Чтобы оставить коментарий авторизуйтесь в системе.</h3>
        </div>
    {% endif %}
    {% for comment in comments %}
        <div class="comment_info">
            <p class="comment_author">
                Автор: {{ post.author.user.first_name|default:post.author.user.username }} {{ post.created|date:"d m Y" }}</p>
            <p class="comment_content">{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>На данный момент комментариев нет</p>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <li class="sidebar_item"><a href="{% url "news:post_list" %}">К доске объявлений</a></li>
{% endblock %}